*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}

.container{
    color: white;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: black;
    display: none;
}